@import url(reset.css);

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
#root {
  height: 100vh;
}
#create-channel-input {
  align-self: center;
}
#chooseNickname {
  margin: 0 auto;
  border-radius: 20px;
  background-color: grey;
  width: 60%;
  padding: 2rem;
  height: 20vh;
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#chooseNickname > input {
  width: 90%;
  border-radius: 20px;
}
#chooseNickname > button {
  justify-self: center;
  background-color: blue;
  width: 50%;
  border-radius: 20px;
}
